.carousel-item {
    transition: transform 0.3s ease-out;
  }
  .carousel-item:focus {
    outline: none;
  }
  .carousel-item:focus-within ~ .carousel-item {
    transform: translateX(-20%);
  }
  .carousel-item:focus-within ~ .carousel-item:nth-child(-n+2) {
    transform: translateX(-40%);
  }
  .carousel-item:focus-within ~ .carousel-item:nth-child(n+6) {
    transform: translateX(0%);
  }